@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
}
.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next,
.swiper-button-prev {
    color: #b88e2f;
    font-size: 20px !important;
}
.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 48px !important;
    height: 48px !important;
    box-shadow: 0 0 10px black;
}
